:root {
    /* Overrides the border radius setting in the theme. */
    --ck-border-radius: 4px;

    /* Overrides the default font size in the theme. */
    --ck-font-size-base: 14px;

    /* Helper variables to avoid duplication in the colors. */
    --ck-custom-background: hsl(270, 1%, 29%);
    --ck-custom-foreground: hsl(255, 3%, 18%);
    --ck-custom-border: hsl(300, 1%, 22%);
    --ck-custom-white: hsl(0, 0%, 100%);

    /* -- Overrides generic colors. ------------------------------------------------------------- */

    --ck-color-base-foreground: var(--ck-custom-background);
    --ck-color-focus-border: hsl(208, 90%, 62%);
    --ck-color-text: hsl(0, 0%, 98%);
    --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.2);
    --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);

    /* -- Overrides the default .ck-button class colors. ---------------------------------------- */

    --ck-color-button-default-background: var(--ck-custom-background);
    --ck-color-button-default-hover-background: hsl(270, 1%, 22%);
    --ck-color-button-default-active-background: hsl(270, 2%, 20%);
    --ck-color-button-default-active-shadow: hsl(270, 2%, 23%);
    --ck-color-button-default-disabled-background: var(--ck-custom-background);

    --ck-color-button-on-background: var(--ck-custom-foreground);
    --ck-color-button-on-hover-background: hsl(255, 4%, 16%);
    --ck-color-button-on-active-background: hsl(255, 4%, 14%);
    --ck-color-button-on-active-shadow: hsl(240, 3%, 19%);
    --ck-color-button-on-disabled-background: var(--ck-custom-foreground);

    --ck-color-button-action-background: hsl(168, 76%, 42%);
    --ck-color-button-action-hover-background: hsl(168, 76%, 38%);
    --ck-color-button-action-active-background: hsl(168, 76%, 36%);
    --ck-color-button-action-active-shadow: hsl(168, 75%, 34%);
    --ck-color-button-action-disabled-background: hsl(168, 76%, 42%);
    --ck-color-button-action-text: var(--ck-custom-white);

    --ck-color-button-save: hsl(120, 100%, 46%);
    --ck-color-button-cancel: hsl(15, 100%, 56%);

    /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */

    --ck-color-dropdown-panel-background: var(--ck-custom-background);
    --ck-color-dropdown-panel-border: var(--ck-custom-foreground);

    /* -- Overrides the default .ck-splitbutton class colors. ----------------------------------- */

    --ck-color-split-button-hover-background: var(--ck-color-button-default-hover-background);
    --ck-color-split-button-hover-border: var(--ck-custom-foreground);

    /* -- Overrides the default .ck-input class colors. ----------------------------------------- */

    --ck-color-input-background: var(--ck-custom-background);
    --ck-color-input-border: hsl(257, 3%, 43%);
    --ck-color-input-text: hsl(0, 0%, 98%);
    --ck-color-input-disabled-background: hsl(255, 4%, 21%);
    --ck-color-input-disabled-border: hsl(250, 3%, 38%);
    --ck-color-input-disabled-text: hsl(0, 0%, 78%);

    /* -- Overrides the default .ck-labeled-field-view class colors. ---------------------------- */

    --ck-color-labeled-field-label-background: var(--ck-custom-background);

    /* -- Overrides the default .ck-list class colors. ------------------------------------------ */

    --ck-color-list-background: var(--ck-custom-background);
    --ck-color-list-button-hover-background: var(--ck-color-base-foreground);
    --ck-color-list-button-on-background: var(--ck-color-base-active);
    --ck-color-list-button-on-background-focus: var(--ck-color-base-active-focus);
    --ck-color-list-button-on-text: var(--ck-color-base-background);

    /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */

    --ck-color-panel-background: var(--ck-custom-background);
    --ck-color-panel-border: var(--ck-custom-border);

    /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */

    --ck-color-toolbar-background: var(--ck-custom-background);
    --ck-color-toolbar-border: var(--ck-custom-border);

    /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */

    --ck-color-tooltip-background: hsl(252, 7%, 14%);
    --ck-color-tooltip-text: hsl(0, 0%, 93%);

    /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */

    --ck-color-image-caption-background: hsl(0, 0%, 97%);
    --ck-color-image-caption-text: hsl(0, 0%, 20%);

    /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */

    --ck-color-widget-blurred-border: hsl(0, 0%, 87%);
    --ck-color-widget-hover-border: hsl(43, 92%, 43%);
    --ck-color-widget-editable-focus-background: var(--ck-custom-white);

    /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */

    --ck-color-link-default: hsl(190, 100%, 75%);
}

html {
    height: 100%;
}

body {
    background: #72a98f;
    margin: 0;
    height: 100%;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #2e2e2e #111111; 
}

body * {
    box-sizing: border-box;
    outline: none;
}

/* SCROLLBAR */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #2e2e2e #111111;
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: #111111;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
    border-radius: 0px;
    border: 3px solid #111111;
}

/* */

#app {
    background: #111111;
    margin: 15px;
    flex: 1;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #2b2b2b, -1px -1px 5px #1e1e1e;
    display: flex;
    overflow: hidden;
}

.separator {
    flex: 100;
}

/* ERROR */
#error {
    background: #b50e0e;
    box-shadow: 1px 1px 5px #2b2b2b, -1px -1px 5px #1e1e1e;
    border-radius: 15px;
    margin-bottom: 10px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000000;
}
#error.showed {
    display: block;
}
#error p {
    margin: 10px;
    color: #fff;
    font-size: 1.1rem;
}

/* CONFIRMATION */
#confirmation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0d0d0d91;
    z-index: 1000000;
}

#confirmation.showed {
    display: block;
}

#confirmation > .confirm_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #72a98f;
    z-index: 10000000;
    padding: 15px;
    width: 20rem;
    box-shadow: 0px 0px 5px #72a98f;
    border-radius: 15px;
}

#confirmation > .confirm_box > p {
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

#confirmation > .confirm_box >.controls {
    display: flex;
    justify-content: space-evenly;
}

#confirmation > .confirm_box >.controls > button {
    border: none;
    color: #fff;
    background: transparent;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0;
    padding: 2px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#confirmation > .confirm_box > .controls > button.confirm_OK {
    color: #72a98f;
    background: #fff;
}

#confirmation > .confirm_box > .controls > button > p {
    margin: 0;
}

@media all and (max-width: 600px) {
    #contacts {
        display: none;
    }
    #contacts.showed {
        width: 100%;
        display: flex;
    }
    #messages_placeholder.showed {
        display: none !important;
    }

    #app.messages #contacts,
    #app.messages_loading #contacts {
        display: none;
    }
}
