/* CONTACT PANEL */
#contacts {
    background: #0d0d0d;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 20rem;
    min-width: 20rem;
    box-shadow: 0px 5px 10px #0d0d0d;
    display: none;
    flex-direction: column;
}

#contacts.showed {
    display: flex;
}

#sodachat_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 15px;
}

#sodachat_logo > img {
    width: 5rem;
}

#contacts_list {
    background-image: url(/static/imgs/contact_trees.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#contacts_list ul {
    display: none;
    padding: 0;
    list-style-type: none;
    margin: 0 15px;
    overflow: auto;
    height: 100%;
    width: 100%;
}
#contacts_list ul.showed {
    display: block;
}

#contacts_loading {
    display: none;
    width: 2rem;
    height: 2rem;
    animation: rotate infinite .8s ease-in-out;
    fill: #fff;
    margin-top: 50px;
}

#contacts_loading.showed {
    display: block;
}

#contacts_list > ul > .contact {
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

#contacts_list > ul > .contact:hover > div > .contact_last_message {
    font-size: 1rem;
}

#contacts_list > ul > .contact:hover > div > div.contact_pseudo > p {
    font-size: 1.3rem;
}

#contacts_list > ul > .contact:not(:last-child) {
    margin-bottom: 20px;
}

#contacts_list > ul > .contact > img {
    width: 3rem;
    height: 3rem;
}

#contacts_list > ul > .contact > div {
    margin-left: 15px;
    overflow: hidden;
}

#contacts_list > ul > .contact > div p {
    margin: 0;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-size .2s ease-in-out;
}

#contacts_list > ul > .contact > div > div.contact_pseudo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#contacts_list > ul > .contact > div > div.contact_pseudo > p {
    font-weight: bold;
    font-size: 1.2rem;
    color: #e0e0e0;
}

#contacts_list > ul > .contact > div > div.contact_pseudo > span.contact_pseudo_bot_mark {
    color: #72a98f;
    font-weight: bold;
    border: #72a98f 2px solid;
    border-radius: 5px;
    padding: 1px 3px;
    margin-right: 7px;
}

#contacts_list > ul > .contact > div > .contact_last_message {
    font-size: .9rem;
    color: #72a98f;
    font-weight: bold;
}

#contacts_list > ul > .contact > div > .contact_last_message.seen {
    font-weight: normal;
    color: #c0c0c0;
}

#settings_bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #111111;
    padding: 15px 0;
    box-shadow: 5px 0px 10px #111111;
}

#settings_bar > svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
    transition: fill .2s ease-in-out;
    cursor: pointer;
}

#settings_bar > svg:hover {
    fill: #72a98f;
}