@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#messages .messages_loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #111;
}

#messages svg.messages_loading_spinner {
    width: 3rem;
    height: 3rem;
    fill: #fff;
    margin: auto;
    animation: rotate infinite .8s ease-in-out;
}

#messages_placeholder {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background-image: url(/static/imgs/message_placeholder.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

#messages_placeholder.showed {
    display: flex;
}

#messages_placeholder p {
    color: #e0e0e0;
    font-size: 2rem;
    text-align: center;
    margin: 15px;
    padding: 0 10px;
    background: rgba(0, 0, 0, .5);
}

#messages {
    width: 100%;
    flex-direction: column;
    display: none;
    position: relative;
}

#messages.showed {
    display: flex;
}

#messages_list {
    margin: 15px;
    list-style-type: none;
    padding: 0;
    flex: 1;
    overflow: auto;
    margin: 0px 0px 5px 0px;
}

#messages_list > .message div,
#messages_list > .message div * {
    cursor: pointer;
}

#messages_list > .message:first-child {
    margin-top: 15px;
}

#messages_list > .message.me {
    text-align: end;
    margin-right: 15px;
}

#messages_list > .message.contact {
    margin-left: 15px;
}

#messages_list > .message div {
    color: #fff;
    display: inline-block;
    padding: 10px;
    font-size: 1.1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 80%;
    position: relative;
}

#messages_list > .message.contact div {
    border-bottom-right-radius: 10px;
    background: #72a98f;
}

#messages_list > .message.me div {
    border-bottom-left-radius: 10px;
    background: #2e2e2e;
}

#messages_list > .message div p {
    margin: 0;
    text-align: start;
}

#messages_list > .message div .seen_mark {
    fill: #72a98f;
    width: 15px;
    height: 15px;
    position: absolute;
}

#messages_list > .message div .send_mark {
    fill: #4d4d4d;
    width: 15px;
    height: 15px;
    position: absolute;
}

#messages_list > .message > p {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: .9rem;
    color: #5a5a5a;
}

/*Message entry*/
#message_entry {
    padding: 15px;
    display: flex;
    align-items: center;
}

#message_editor{
    background: #2f2f2f;
    color: #e0e0e0;
    border: 0px;
    width: 100%;
    border-radius: 10px;
    max-height: 15rem;
}

#message_send {
    width: 2rem;
    height: 2rem;
    margin: 0 10px 0 25px;
    cursor: pointer;
}

#message_send svg {
    fill: #72a98f;
    width: 100%;
    height: 100%;
    display: none;
}

#message_send svg:last-child {
    animation: rotate infinite .8s ease-in-out;
}
#message_send:not(.loading) svg:first-child {
    display: block;
}
#message_send.loading svg:last-child {
    display: block;
}

/*Messages infos*/
.messages_infos {
    background: #0d0d0d;
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0 15px;
    box-shadow: 5px 0 10px #0d0d0d;
    z-index: 1000;
}

#return_to_contact {
    margin-right: 20px;
}

.messages_infos svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
    cursor: pointer;
    transition: fill .2s;
}

.messages_infos svg:hover {
    fill: #72a98f;
}

.messages_infos svg.delete {
    margin-left: 10px;
}

.messages_infos > .contact_pseudo {
    margin: 0;
    margin-bottom: 6px;
    color: #e0e0e0;
    font-weight: bold;
    font-size: 1.4rem;
}

.messages_infos > .separator {
    width: 100%;
}
