<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SODACHAT</title>

    <link rel="stylesheet" href="/static/css/index.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#72a98f">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#111111">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#111111">
</head>
<body>
    <div id="content-box">
        <div id="content">
            <div class="title">
                <img src="/static/imgs/logo_green.svg" alt="Sodachat's logo" />
                <h1>SODACHAT</h1>
            </div>
            
            <p class="presentation">Sodachat is a private, <span class="green">OpenSource</span> messenger where you can chat with your <span class="green">friends</span> and <span class="green">bots</span>.</p>

            <p class="access-button-wrapper">
                <a href="/app" class="access-button">Access</a>
            </p>

            <p class="preview-wrapper">
                <img src="/static/imgs/preview_no-bg.png" alt="preview with contacts list, chat and bot" />
            </p>

            <p class="text">Sodachat is a school project. <a href="#">Here is the presentation.</a></p>

            <p class="text">The sources are available on <a href="https://github.com/cestoliv/sodachat">GitHub !</a> (You can self-host Sodachat!)</p>
        </div>
    </div>
</body>
</html>